/* ===================================================== */
/* 26. HIGHLIGHT											 */
/* ===================================================== */
.highlight{ padding: 0px 6px 2px; color: #fff;}
.highlight.default { background: #056D9C; }
.highlight.gray { background: #4c4c4c; }
.highlight.light { background: #aaa; }
blockquote.default {
    border-color: #056D9C;
    color:#666;
    background:#f2f2f2;
}
.columns{
    padding:30px 0 60px;
}