/* ===================================================== */
/* 21. PROGRESS SKILL BAR									 */
/* ===================================================== */
.progress-skill-bar{
    padding:0;
}
.progress_skill {
    background:#F8F8F8;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius:15px;
    box-shadow: none;
    height:27px;
    border:1px solid #F1F1F1;
    margin-bottom: 15px;
    line-height: normal;
}
.progress_skill .bar {
    background: #056D9C;
    line-height:24px;
    font-family:"Open sans", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-indent: 15px;
    text-transform:uppercase;
    -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-text-shadow: none;-moz-text-shadow: none;text-shadow: none;
    -webkit-transition: width 1s ease;-moz-transition: width 1s ease;-o-transition: width 1s ease;transition: width 1s ease;
    border-radius: 15px;
}
.progress_skill:hover .bar {
    -webkit-transition: all 0.35s ease; -moz-transition: all 0.35s ease; -o-transition: all 0.35s ease; transition: all 0.35s ease;
    background:#DE4B64 !important;
    color:#fff;
    cursor: pointer;
}
.progress-skill-bar {
    margin-bottom: 10px;
    margin-left:0;
    margin-top: 15px;
}
.progress-skill-bar li{overflow: hidden;}
.progress-skill-bar .lable {
    background: #555;
    float: left;
    color: #fff;
    border-right: 1px #FFFFFF solid;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    margin-top:1px;
    line-height: 25px;
    padding: 0 0 0 4px;
    text-align: center;
    width: 37px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
.progress-success .bar,
.progress_skill .bar-success {
    filter: none;
    background: #15b994;
}