/* ===================================================== */
/* 27. SWIPE J.S SLIDER											 */
/* ===================================================== */
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	margin-top: 0;
}
.swipe-wrap {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.swipe-wrap > li {
	float:left;
	width:100%;
	overflow: hidden;
	position: relative;
}
.swipe-navi {
    display: block;
    height: auto;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1001
}
.swipe-navi .swipe-left,
.swipe-navi .swipe-right {
	position: absolute;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	opacity: 0;
	zoom: 1;
	filter: alpha(opacity=0);
	color:#fff;
	cursor: pointer;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	transition: all 200ms;
	-moz-transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background:#056D9C;
}
.swipe-navi .swipe-left:hover,
.swipe-navi .swipe-right:hover{
	background:#555 !important;
}
.swipe-wrap img {
    width: 100%;
}
.swipe:hover .swipe-navi .swipe-left{
	opacity: .9;
	zoom: 1;
	filter: alpha(opacity=90);
	margin-top: -27px;
}
.swipe:hover .swipe-navi .swipe-right {
	opacity: .9;
	zoom: 1;
	filter: alpha(opacity=90);
	margin-top: -27px;
}
.swipe-navi .swipe-left {
	left: 5px;
	margin-top: -32px;
}
.swipe-navi .swipe-right {
	right: 5px;
	margin-top: -22px;
}
.img-about {
    margin-top: 15px;
}
