/* ===================================================== */
/* 	8. 404 PAGE			                    		 */
/* ===================================================== */
.page_404 {
    position: relative;
    text-align: center;
}
.page_404 > h1 {
    font-size: 250px;
    font-weight: 600;
    line-height: 250px;
    position: relative;
}
.page_404 > p {
    font-size: 30px;
    font-weight: bold;
    line-height:30px;
    margin-bottom:30px;
}